.root {
	/* Swatch Colors - Blue*/
	-swatch-100: #BBDEFB;
	-swatch-200: #90CAF9;
	-swatch-300: #64BEF6;
	-swatch-400: #42A5F5;
	-swatch-500: #2196F3;
	/*default text */
	-fx-text-base-color: rgb(100.0, 100.0, 100.0);
	-fx-text-button-normal: -swatch-500;
	-fx-text-button-colored: rgb(255.0, 255.0, 255.0);
	-fx-text-button-text: rgb(100.0, 100.0, 100.0);
	-fx-text-title-color: rgb(45.0, 45.0, 45.0);
	-fx-text-subtitle-color: rgb(65.0, 65.0, 65.0);
	-fx-text-control-title-color: rgb(130.0, 130.0, 130.0);
	-fx-text-fill: -fx-text-base-color;
	-dark: rgb(47.0, 52.0, 57.0);
	-fx-background-color: -dark;
	/*default font */
	-fx-font-family: 'Roboto Medium';
	-fx-font-size: 14.0px;
	-fx-disabled-opacity: 0.6;
	/*default colors */
	-swatch-grey: rgb(200.0, 200.0, 200.0);
	-swatch-dark-grey: rgb(150.0, 150.0, 150.0);
	-swatch-light-grey: rgb(230.0, 230.0, 230.0);
	-swatch-toolbar: rgb(245.0, 245.0, 245.0);
	-swatch-toolbar-selected: rgb(215.0, 215.0, 215.0);
	/* 
     Modena colors
     */
	-fx-dark-text-color: white; /* Text color when selected*/
	-fx-mid-text-color: -fx-text-base-color;
	-fx-light-text-color: -swatch-light-grey;
	-fx-body-color: white;
	/* A bright blue for the focus indicator of objects. Typically used as the
     * first color in -fx-background-color for the "focused" pseudo-class. Also
     * typically used with insets of -1.4 to provide a glowing effect.
     */
	-fx-focus-color: -swatch-400;
	-fx-faint-focus-color: -swatch-200;
	/* A bright blue for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars */
	-fx-accent: -swatch-400;
	-fx-dark-text-color: white;
}

.slider {
	-fx-padding: 10 0 10 0;
}

.slider:vertical {
	-fx-padding: 0 10 0 10;
}

.slider > .track {
	-fx-background-color: white;
	-fx-background-insets: 1.5;
	-fx-pref-width: 20;
	-fx-pref-height: 20;
}

.slider > .thumb {
	
	-fx-background-color: aqua;
	-fx-pref-height: 30;
    -fx-pref-width: 30;
    
}
